* {
    margin: 0;
    padding: 0;
}

.q{
    background-color: aqua;
    height: 100vh;
}

.w{
    background-color: rgb(184, 32, 32);
    height: 100vh;
}

.e{
    background-color: rgb(3, 202, 79);
    height: 100vh;
}

.active{
    border-bottom: 5px solid gold;
}